/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.container {
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    background-color: #fd7e14;
    color: #343a40;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-theme {
    background-color: #000000;
}

.dark-theme .container {
    background-color: rgb(162, 0, 162);
    color: #ffffff;
}

h1 {
    color: #343a40;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #7f8c8d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.theme-label {
    margin-left: 10px;
    color: #343a40;
}

/* Добавим стили для мобильной версии */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin: 10px 0; 
    }

    a {
        font-size: 16px;
        padding: 10px 20px;
    }

    .theme-toggle {
        top: 10px;
        right: 10px;
    }
}
