* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    color: #fff;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#loader-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loader {
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #00bcd4;
    animation: rotate 2s linear infinite, glow 2s infinite alternate;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 30px rgba(0, 255, 255, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
