.code {
    background-color: black;
    color: white;
}

.colors {
    font-weight: bold; ;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    color: white; 
    text-align: center;
    
}

.border {
    border: 2px solid black;
    margin: 10px;

}