body {
    font-weight: bold; ;
    color: white; 
}

.border {
    border: 2px solid black;
    margin: 10px;
    text-align: center;

}

#div1, #div2 {
    display: none;
}

button {
    border: 2px solid black;
    margin: 10px;
}